
<h1>Nova Locação</h1>
<%= render partial: 'shared/model_errors', locals: { object: @rental } %>
<%= form_for @rental do |f| %>
  <%= f.label :car_id, 'Carro' %>
  <%= f.collection_select(:car_id, @cars, :id, :car_identification) %>
  <%= f.label :customer_id, 'Cliente' %>
  <%= f.collection_select(:customer_id, @customers, :id, :description) %>
  <%= f.submit 'Enviar' %>
<% end %>
