<h1>Detalhes do Carro</h1>
<%= render @car %>

<h2>Histórico de Locações</h2>
<%= link_to 'Registrar Multa', new_car_fine_path(@car) %>

<% if @car.on_maintenance? %>
  <%= link_to "Dar baixa em manutenção", new_return_maintenance_path(@car.current_maintenance) %>
<% else%>
  <%= link_to "Enviar para vistoria", new_car_inspection_path(@car)%>
  <%= link_to "Enviar para manutenção", new_car_maintenance_path(@car) %>
<% end %>

<h2>Histórico de Locações</h2>
<% @car.rentals.each do |rental| %>
  <%= rental.start_at %>
  <% if rental.finished_at? %>
    <%= rental.finished_at %>
  <% else %>
    <%= link_to "Devolução de carro", new_car_return_rental_path(rental) %>
  <% end %>
<% end %>


